body{
    position: relative;
}
/* #region  BACKGROUND */
.background-fixed{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-image:linear-gradient(-217deg, #355b64, #000000), linear-gradient(transparent, #000000 70%);
    z-index: -1;
}
/* #endregion */

/* #region  NAVIGATION ASIDE */

/* #region  general and logo */
nav.aside{
    position: fixed;
    top:0;
    left:0;
    width:230px;
    min-width: 60px;
    height: calc(100% - 90px);
    background: #00000080;
    transition: all 150ms ease-in-out;
    display:flex;
    flex-flow: column nowrap;
    padding-top:24px;
    overflow-y: auto;
}
.aside_icon{
    width:24px;
    height: auto;
}
.aside_logo{
    padding: 0 24px;
}
.aside_logo >img:first-child{
    width:131px;
    height:auto;
}
.aside_logo >img:not(:first-child){
    width:40px;
    height:auto;
    display:none
}
/* #endregion */

/* #region  top list */
.aside_list--top{
    margin-top:24px;
}
.aside_list--top ul li{
    height:40px;
    line-height: 40px;
    padding: 0 24px;
    position: relative;
}
.aside_list--top ul li>*{
    display: flex;
    align-items: center;
}
/* #endregion */

/* #region  bottom list */
.aside_list--bottom{
    flex:1;
    min-height: 175px;
    flex-flow: column nowrap;
    margin-top:24px;
}
.aside_category-btn{
    height: 62px;
    line-height: 62px;
    padding:0 24px;
}
.aside_subgroup{
    align-items: center;
}
.aside .plus-sign{
    background:#fff;;
    width:32px;
    height:32px;
    opacity:.6;
    position: relative;
}
.aside_list--bottom ul{
    overflow-y: auto;
    overscroll-behavior-y: contain;
    margin:0;
}
.aside_list--bottom ul li{
    height:32px;
    line-height: 32px;
    padding: 0 24px;
    position: relative;
}
/* #endregion */

/* #region  footer list */
.aside_footer>*{
    padding:0 24px;
    display: flex;
    height:40px;
    align-items: center;
    position: relative;
}
.aside_footer>.download:after{
    content: "";
    display: block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 150px;
    height:1px;
    background-color: rgba(255, 255, 255, 0.5);
}
.aside_footer-text{
    margin-left:16px;
}
.aside_footer-avatar + span {
    margin-left:12px;
}
.aside_footer-avatar{
    height:28px;
    width:28px;
    background-image:url(https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=10207422251062746&height=200&width=200&ext=1573374937&hash=AeS-LJbNajE1JSPF);
    background-size: cover;
    border-radius: 50%;
    margin-left:7px;
}
/* #endregion */

/* #region  behavior */
.aside_list--top ul li:hover:before,
.aside_list--bottom ul li:not(.aside_category-btn):hover:before,
.aside_footer>.download:hover:before{
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: #1ed760;
}
.aside_list--top ul li:hover a>*,
.aside_list--bottom ul li:hover a,
.aside_list--bottom ul li:hover a>*,
.aside_footer>*>span:hover{
    opacity: 1;
    transition: opacity 400ms ease-out
}
/* #endregion */

/* #endregion */

/* #region  MAIN WITH SECTION */
main{
    width: calc(100% - 230px);
    margin-left: auto;
    margin-right: 0;
    padding-bottom:130px;
}
main nav{
    padding:20px 0; 
}
.main_nav-list{
    justify-content: center;
    flex-wrap: wrap;
}
.main_nav-list a:hover{
    opacity: 1;
    transition: opacity 400ms ease-out
}
.active>span,
.main_nav-list a.active{
    opacity:1
}
.main_nav-list a.active:after{
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

main .content{
    max-width: 1480px;
    padding:0 32px;
    margin: auto;   
}
.main_title-content>div{
    flex-grow: 1;
}
.main_subtitle-sub{
    margin:auto;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: .6;
    letter-spacing: 0.25rem;
}

.main_sec--cover{
    display:flex;
}
.main_sec--cover>*{
    flex-basis: calc(100% / 6);
    max-width:300px;
    padding:0 8px 40px;
}
.main_sec--cover a{
    display: block;
    position: relative;
    background: #282828;
    width:100%;
    padding-top:100%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);

}
a.main_sec--cover-hide{
    display: none
}
a.main_sec--cover-artist,
.main_cover-artist{
    border-radius: 50%;
}
.main_cover,
.main_cover-artist{
    background-position: 50%;
    background-size: cover;
    transition: filter 250ms ease-out
}
.main_sec--info{
    margin: 12px 0 4px;
    font-size: 1.4rem;
    
    text-align: center;
    cursor: pointer
}
.main_play-hover{
    border:2px solid rgba(255, 255, 255, .6);
    border-radius: 50%;
    width:45%;
    height:45%;
    z-index: 1;
    display: none;
    transition: filter 250ms ease-out
}
.main_play-hover .fa-play{
    font-size:3.2rem;
    margin-left: 10px;
}
.main_sec--cover>*:hover .main_cover{
    filter:brightness(.3)
}
.main_sec--cover>*:hover .main_play-hover{
    display: block;
}





/* #endregion */

/* #region  FOOTER */
footer{
    width:100%;
    min-width:622px;
    background: #181818;
    position: fixed;
    bottom:0;
    z-index:3;
    display:flex;
    justify-content: space-between;
    text-align:center;
    padding: 16px 16px;
}
footer .player_left,
footer .player_right{
    display: flex;
    min-width: 180px;
    width:30%;
    align-items: center;
    justify-content: flex-start;
}
.player_album-info{
    margin:0 14px;
    overflow: hidden;
}
.player_album-info>*{
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
a.player_like,
a.player_mini{
    display: inline-block;
    position: relative;
    font-family: glue1-spoticon;
    font-size: 1.6rem;
    width:32px;
    min-width:32px;
    height:32px;
    opacity:.6
}
a.player_mini>img,
a.player_like:before{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
a.player_like:before{
    content: "\f320";
}
.player_cover{
    width:56px;
    padding-top: 100%;
}
footer .player_middle{
    width:40%;
    max-width: 722px;
}
footer .player_left{
    justify-content: flex-end;
}
.player_left>a{
    position: relative;
    font-family: glue1-spoticon;
    font-size: 1.6rem;
    width:32px;
    height:32px;
    opacity:.6;
}
.player_left>a:hover{
    opacity:1;
    color:#1ed760
}
.player_left>a:before{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.player_list::before{
    content: "\f13a";
}
.player_device::before{
    content: "\f213";
}
.player_volume::before{
    content: "\f15e";
}
.volume-bar{
    position: relative;
    cursor: pointer;
}
.volume-bar,
.volume-bar::before{
    width:84px;
    height:4px;
    background:white;
    opacity: .8;
    border-radius: 2px;
}
.volume-bar:hover::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:70%;
    background: #1ed760;
    opacity:1;
}
.volume-bar:hover::after{
    content: "";
    position: absolute;
    top:50%;
    left:70%;
    height:15px;
    width:15px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
    opacity:1;
}



/* #endregion */





@media (max-width:1199px){
    .main_sec--cover>*{
        flex-basis: calc(100% / 4);
    }
    [class*="--cover-5"],
    [class*="--cover-6"]{
        display:none
    }
}
@media (max-width:991px){
    .main_sec--cover>*{
        flex-basis: calc(100% / 3);
    }
    [class*="--cover-4"],
    [class*="--cover-5"],
    [class*="--cover-6"]{
        display:none
    }
}
@media (max-width:767px){
    .main_sec--cover>*{
        flex-basis: calc(100% / 2);
    }
    [class*="--cover-3"],
    [class*="--cover-4"],
    [class*="--cover-5"],
    [class*="--cover-6"]{
        display:none
    }
}
@media (max-width:700px){
    main{
        width: calc(100% - 90px);
    }
    main .content{
        padding:0 16px;
        min-width: 300px;
    }

    nav.aside{
        width:90px;
    }
    .aside_icon{
        width:32px;
    }
    .aside_logo >img:first-child{
        display: none
    }
    .aside_logo >img:not(:first-child){
        display:block;
    }
    .aside_list--top {
        flex:1
    }
    .aside_list--top ul li{
        height:60px;
        line-height: 60px;
    }
    .aside_list--top ul li>*{
       justify-content: center
    }
            
    .aside_list--top ul li span{
        display:none
    }
    .aside_list--bottom{
        display:none
    }
    .aside_footer>*{
        display: flex;

        justify-content: center
    }
    .aside_footer>.download:after{
        width: 50px;
    }
    .aside_footer span{
        display:none;
    }
    .aside_footer .far{
        font-size: 20px
    }
    .aside_footer-text,
    .aside_footer-avatar {
       margin-left: 0
    }
    .aside_list--top ul li:hover:before,
    .aside_list--bottom ul li:not(.aside_category-btn):hover:before,
    .aside_footer>.download:hover:before{
        all:unset
}
}
@media (max-width:576px){
    .main_sec--cover{
        justify-content: center;
    }
    .main_sec--cover>*{
        flex-basis: calc(100% / 1);
        max-width:unset;
    }
    .main_sec--cover>[class*="--cover-"]:not([class$="--cover-1"]){
        display:none;
    }
}